{% extends "header.html" %}
{% block content %}

<div class="row">
    <h1>Welcome {{current_user.username}} to your To-do List!</h1>
</div>

<div class="row">
  <div class="col">
      <form action="" method="post">
          {{ createTodo_form.csrf_token }}
          <div class="form-group">
              {{ createTodo_form.task.label(class="form-control-label") }}
              {{ createTodo_form.task(class="form-control form-control-lg") }}

              {% if createTodo_form.errors %}
              <div class="alert alert-warning" role="alert">
                  {% for error in createTodo_form.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
              </div>
              {% endif %}
          </div>
      
          
        <div class="form-group">
            {{ createTodo_form.submit }}
        </div>
        <hr><br>
      </form>


      <div id="todo-list">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-warning" role="alert">
              {% for message in messages %}
                <span>{{ message }}</span>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        {% for to_do in current_user_to_do_list %}
          <div class="row">
            <input type="checkbox" name="doneWithTask" id="chk-{{to_do.id}}">
            <span id="content-{{to_do.id}}"> {{to_do.content}}</span>

            <button todo_id="{{to_do.id}}" onclick="updateTodo(event)" class="btn btn-primary">Update</button>

            <form action="/todos/delete/{{to_do.id}}" method="post">
              <button type="submit" class="btn btn-primary">Delete</button>
            </form>

            
            <form action="/todos/share/{{to_do.id}}" method="post">
              <button type="submit" class="btn btn-primary">Share (not yet implemented</button>
            </form>
          </div>
          
          <form action="/todos/update/{{to_do.id}}" class="hidden" id="updt-{{to_do.id}}" method="post">
            {{ updateTodo_form.csrf_token }}
            <div class="form-group">
                {{ updateTodo_form.task.label(class="form-control-label") }}
                {{ updateTodo_form.task(class="form-control form-control-lg") }}
  
                {% if updateTodo_form.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in updateTodo_form.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        
              
            <div class="form-group">
                {{ updateTodo_form.submit }}
            </div>
            <hr><br>
          </form>
        {% endfor %}
      </div>
  </div>
</div>

<script nonce="update">
  function updateTodo(event) {
    console.log(event);
    const id = event.target.getAttribute('todo_id');

    const updateForm = document.getElementById(`updt-${id}`)

    // Toggle hidden class from update form
    if (updateForm) {
      if (updateForm.className.includes("hidden")) {
        updateForm.className = "";
      } else {
        updateForm.className = "hidden";
      }
    }
  }
</script>


{% endblock %}