{% extends "header.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-warning" role="alert">
    {% for message in messages %}
    <span>{{ message }}</span>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div class="row">
    <div class="col-3">
        {% if image %}
            <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
        {% endif %}
    </div>
    {% if user %}
    <div class="col-9">
        <h1 class="right-align">Welcome to {{ user.username }}'s Page</h1>
        <h3 class="right-align">Todo Count: {{ user.todo_count }}</h3>
    </div>
    {% endif %}

    <a href="/home" class="btn btn-primary">Back to Home</a></td>
</div>
{% endblock %}>