.hidden {
    display: none;
}

.heading {
    margin-top: 10px;
}

.btn {
    height: 40px;
    width: auto;
}

.action-btn {
    margin-left: 10px;
}

.todos {
    margin-left: 20px;
    padding: 0px;
}

.todo-text {
    font-size: 20px;
    word-wrap: break-word;
}

li span {
    position: relative;
    margin-left: 10px;
}

.propic {
    width: 100px;
    height: auto;
}

.right-align {
    display: block;
    text-align:right
}