.hidden {
    display: none;
}

.heading {
    margin-top: 10px;
}

.btn {
    margin-left: 10px;
    height: 40px;
    width: auto;
}

.todos {
    margin-left: 20px;
    padding: 0px;
}

.todo-text {
    font-size: 20px;
    word-wrap: break-word;
}

li span {
    position: relative;
    margin-left: 10px;
}
/* .nav-user {
    border-right: 1px #1d1d1d;
} */